config igmpproxy
	option quickleave 0
#	option verbose [0-2]
	option robustness 2
	option interval_query 125
	option interval_query_response 10

config phyint wan
	option network wan
	option direction upstream
	list altnet 192.168.1.0/24

config phyint lan
	option network lan
	option direction downstream
